.loading-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loading-circle {
    width: 12px;
    height: 12px;
    margin: 2px;
    background-color: #3498db;
    border-radius: 50%;
    animation: loading-circle-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  
  @keyframes loading-circle-animation {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }
  
  /* Adjust the size, color, and animation duration as per your preference */
  