.dynamic-financial-news-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.news-item {
  width: calc(50% - 10px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.news-item.light-mode {
  background-color: rgb(206, 205, 205);
}

.news-item.dark-mode {
  background-color: #252424;
}

.news-item-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.news-item-title.dark-mode {
  color: white;
}

.news-item-title.light-mode {
  color: black;
}

.news-item-description {
  font-size: 14px;
  margin: 10px;
}

.news-item-description.dark-mode {
  color:white;
}

.news-item-description.light-mode {
  color:dark;
}

.news-item-link {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #337ab7;
  text-align: right;
  margin: 10px;
}

.news-item-link:hover {
  text-decoration: underline;
}
