.fin-widget {
  width: 250px; 
  margin-top: 20px;
}

* {
  margin: 0px;
}

.redbutton{
  background-color: #f44336;
  padding: 15px;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  font-size: 15px;
} /* Red */

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.p-4 {
  padding: 40px;
}

.bg-gray-800 {
  background-color: rgb(31 41 55);
}

.light {
  background-color: #9BB9D4;
}

.dark {
  background-color: #2C2F3C;
}

.w-64 {
  width: 14rem; /* 256px */
}

.h-52px {
  height: 52px;
}

.m-auto {
  margin: auto;
}

.mt-5 {
  margin-top: 1.25rem; /* 20px */
}

.text-2xs {
  font-size: 0.7rem;
  line-height: 0.75rem;
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-white {
  color: white;
}

.font-bold {
  font-weight: bold;
}

.text-gray-400 {
  color: rgb(156 163 175);
}

mt-1 {
  margin-top: 0.25rem; 
}

.ml-1 {
  margin-left: 0.25rem; /* 4px */
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.self-center {
  align-self: center;
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.text-right {
  text-align: right;
}

.text-red-500 {
  color: rgb(239 68 68);
}

.text-green-500 {
  color: rgb(34 197 94);
}

.ui-sans-serif {
  font-family: ui-sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select {
  width: 240px;
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.spacer {
  width:100px;
  height:100px;
  margin:10px;
}

.image {
  margin: 10px;
  width:30px;
  height:30px;
}

.widget-container {
  position: relative;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.image:hover {
  cursor: pointer
}

.remote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:25%;
  margin-top:5%;
}

.widget-remote {
  margin: 40px;
}

.widget-remote h2{
  margin: 5px;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.risk-container {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f5f5f5;
  color: #333;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.risk-symbol {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.risk-risk {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.risk-description {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
